@import '../../variables/'

.basket-header
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  font-weight: 700
  font-size: 1.5em
  height: 40px

.basket-main
  display: flex
  flex-wrap: wrap
  gap: 10px
  position: relative
  min-height: calc(100vh - 240px)
  padding: 10px 0

.msg-empty
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0
  margin: auto
  background: white
  max-width: 400px
  width: 100%
  padding: 10px
  min-height: 100px
  overflow-y: auto
  max-height: 200px
  border-radius: 3px
  color: $color-border-selected
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap

.msg-empty_hide
  display: none

.msg-empty__text
  width: 100%
  text-align: center

.msg-empty__btn
  display: block
  margin: auto

.basket-page__btn-clear
  background: $color-text-errors

.basket-page__btn-clear img
  width: 14px

@media (hover: hover)
  .basket-page__btn-clear:hover
    background: red

.basket-items
  display: flex
  flex: 60%
  flex-direction: column
  gap: 0.5rem

  container-type: inline-size
  container-name: basket-items

.basket-price
  font-weight: 700

@media (max-width: 768px)
  .basket-main
    flex-wrap: wrap

  .basket-price
    text-align: right
