.header
  padding: 10px
  height: 60px
  background: red
  width: 100%
  display: flex
  justify-content: space-between
  gap: 10px

.logo-box
  font-weight: 700
  color: #46A358
  text-align: center
  display: flex
  flex-wrap: wrap
  align-items: center
  gap: 5px