@import "../../variables"

.header
  user-select: none
  padding: 10px
  height: 60px
  width: 100%
  color: $color-text-common

.header__btn
  max-width: fit-content
  width: 100%

.header__btn_hide
  display: none

.logo-box
  font-weight: 700
  color: $color-button-background
  text-align: center
  display: flex
  flex-wrap: wrap
  align-items: center
  gap: 5px
  transition: 0.7s

@media (hover:hover)
  .logo-box:hover
    cursor: pointer
    transform: scale(1.05)

.logo-box:active
  transition: 0.2s
  transform: scale(0.95)

.menu
  list-style-type: none
  display: flex
  gap: 20px

.menu__item
  transition: 0.7s

@media (hover:hover)
  .menu__item:hover
    transform: scale(1.1)
    cursor: pointer

.menu__item:active
  transform: scale(0.9)
  transition: 0.2s

.navigation
  display: flex
  justify-content: space-between
  align-items: center
  gap: 10px

.navigation__btns
  display: flex
  align-items: center
  gap: 10px