@use './src/variables' as *

.page-profile-container
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  

.profile-header
  text-align: center
  color: $color-border-selected
  font-size: 1.25rem
  font-weight: 700
  letter-spacing: 0.05rem
  margin-top: 10px
  margin-bottom: 10px
  text-shadow: 1px 5px 5px #ababab
