@use './src/variables' as *

.page-products-container
  display: grid
  grid-template-areas: "hero hero" "filters products" ".products-footer"
  grid-template-rows: 10rem auto
  grid-template-columns: 12rem auto
  gap: 1rem
  min-height: calc(100vh - 200px)
  color: white

.products__hero
  grid-area: hero
  background-color: white
  color: $color-text-common
  border-radius: 2px

.products__filters
  top: 0
  position: sticky
  grid-area: filters

.products__container
  display: grid
  grid-area: products
  gap: 1rem
  grid-auto-rows: 23rem
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr))
  justify-content: center
  transition-duration: 1000ms

.fadeout
  opacity: 0
