html
  scroll-behavior: smooth
  box-sizing: border-box

*,
*:before,
*:after
  box-sizing: inherit

body
  margin: 0
  padding: 0
  max-width: 1440px
  width: 100%
  height: 100%
  margin: auto
  padding: 10px
  overflow-x: hidden

a
  color: inherit
  text-decoration: inherit

.main
  padding: 10px
  min-height: calc(100vh - 180px)
