$color-border-common: #EAEAEA
$color-border-selected: #46A358

$color-text-common: #3D3D3D
$color-text-errors: #a72a1c
$color-input-placeholder: #A5A5A5

$color-button-common: #FFFFFF
$color-button-background: #46A358

$color-bacground-common: #FFFFFF
$color-bacground-backdrop: #0a0d1231

$color-product-price: #e3ffe8
$color-product-price-cancel: #ffd9d2
$font-family-description: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
